.main {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    min-width: 625px;
    margin-top: 50px;
    background-color: #fff;
    padding: 14px 12px;
    max-height: 465px;
}

.search {
    position: relative;
    border: 1px solid #000000;
}

.search__button {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 6px;
    right: 12px;
}

.search__input {
    width: 100%;
    padding: 3px 30px 3px 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

.inner__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #000000;
    border-top: none;
}

.left {
    display: grid;
}

.left__block {
    height: 340px;
}

/* left__now */

.left__now {
    position: relative;
    display: block;
}

.left__now-temperature {
    font-weight: 400;
    font-size: 70px;
    line-height: 82px;
    padding: 20px;
}

.left__now-image-wrapper {
    margin: 20px 0 40px;
    display: flex;
    justify-content: center;
}

.left__now-location {
    display: inline-block;
    text-transform: capitalize;
    font-size: 24px;
    padding: 12px;
}

.left__now-button {
    padding: 12px;
    position: absolute;
    right: 12px;
}

.left__now-favorites-active path {
    stroke: #ff0000;
}

/* left__details */

.left__details {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    display: none;
}

.left__details-location {
    margin: 33px 0 42px 17px;
}

.left__details-list {
    margin-left: 17px;
}

.left__details-item {
    margin-bottom: 20px;
}

/* left__forecast */

.left__forecast {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    overflow: auto;
    display: none;
}

.left__forecast-location {
    margin: 20px 0 7px 17px;
}

.forecast__block {
    border: 1px solid #000000;
    margin: 9px 17px;
    padding: 8px 6px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 65px 18px 40px;
}

.forecast__block-day,
.forecast__block-temperature,
.forecast__block-feels {
    align-self: center;
}

.forecast__block-time,
.forecast__block-weather,
.forecast__block-img {
    justify-self: end;
    align-self: center;
}

.forecast__block-day,
.forecast__block-time {
    align-self: start;
}

/* left__buttons */

.left__buttons {
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.button {
    border-top: 1px solid #000000;
    text-transform: capitalize;
    padding: 12px 0;
    color: #000000;
    background-color: #ffffff;
}

.button:not(:last-child) {
    border-right: 1px solid #000;
}

.button__active {
    color: #ffffff;
    background-color: #000000;
}

/* == RIGHT == */

.right {
    border-left: 1px solid #000000;
}

.right__title {
    text-transform: capitalize;
    border-bottom: 1px solid #000000;
    padding: 20px 0 7px 17px;
    font-size: 24px;
}

.right__list {
    text-transform: capitalize;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 17px;
}

.right__item {
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.right__item:hover {
    transform: scale(1.02);
    text-shadow: 1px 2px 3px black;
}

.right__item-button {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
}

.right__item-button::before,
.right__item-button::after {
    content: "";
    position: absolute;
    background-color: #998899;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    transition: all 0.2s ease-in;
}

.right__item-button::before {
    transform: rotate(45deg);
}

.right__item-button::after {
    transform: rotate(-45deg);
}

.right__item-button:hover::before {
    transform: rotate(225deg);
}

.right__item-button:hover::after {
    transform: rotate(135deg);
}