html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    outline: transparent;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    border-style: none;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    /* border: none; */
    padding: 0;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}